{"openapi":"3.1.0","info":{"title":"Svix API","description":"Welcome to the Svix API documentation!\n\nUseful links: [Homepage](https://www.svix.com) | [Support email](mailto:support+docs@svix.com) | [Blog](https://www.svix.com/blog/) | [Slack Community](https://www.svix.com/slack/)\n\n# Introduction\n\nThis is the reference documentation and schemas for the [Svix webhook service](https://www.svix.com) API. For tutorials and other documentation please refer to [the documentation](https://docs.svix.com).\n\n## Main concepts\n\nIn Svix you have four important entities you will be interacting with:\n\n- `messages`: these are the webhooks being sent. They can have contents and a few other properties.\n- `application`: this is where `messages` are sent to. Usually you want to create one application for each user on your platform.\n- `endpoint`: endpoints are the URLs messages will be sent to. Each application can have multiple `endpoints` and each message sent to that application will be sent to all of them (unless they are not subscribed to the sent event type).\n- `event-type`: event types are identifiers denoting the type of the message being sent. Event types are primarily used to decide which events are sent to which endpoint.\n\n\n## Authentication\n\nGet your authentication token (`AUTH_TOKEN`) from the [Svix dashboard](https://dashboard.svix.com) and use it as part of the `Authorization` header as such: `Authorization: Bearer ${AUTH_TOKEN}`. For more information on authentication, please refer to the [authentication token docs](https://docs.svix.com/api-keys).\n\n<SecurityDefinitions />\n\n\n## Code samples\n\nThe code samples assume you already have the respective libraries installed and you know how to use them. For the latest information on how to do that, please refer to [the documentation](https://docs.svix.com/).\n\n\n## Idempotency\n\nSvix supports [idempotency](https://en.wikipedia.org/wiki/Idempotence) for safely retrying requests without accidentally performing the same operation twice. This is useful when an API call is disrupted in transit and you do not receive a response.\n\nTo perform an idempotent request, pass the idempotency key in the `Idempotency-Key` header to the request. The idempotency key should be a unique value generated by the client. You can create the key in however way you like, though we suggest using UUID v4, or any other string with enough entropy to avoid collisions.\n\nSvix's idempotency works by saving the resulting status code and body of the first request made for any given idempotency key for any successful request. Subsequent requests with the same key return the same result for a period of up to 12 hours.\n\nPlease note that idempotency is only supported for `POST` requests.\n\n\n## Cross-Origin Resource Sharing\n\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/). And that allows cross-domain communication from the browser. All responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n","version":"1.38.0","x-logo":{"altText":"Svix Logo","url":"https://www.svix.com/static/img/brand-padded.svg"}},"servers":[{"url":"https://api.eu.svix.com/","description":"The Svix EU region"},{"url":"https://api.us.svix.com/","description":"The Svix US region"}],"paths":{"/api/v1/auth/app-portal-access/{app_id}":{"post":{"tags":["Authentication"],"summary":"Get Consumer App Portal Access","description":"Use this function to get magic links (and authentication codes) for connecting your users to the Consumer Application Portal.","operationId":"v1.authentication.app-portal-access","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPortalAccessIn"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPortalAccessOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const appPortalAccessOut = await svix.authentication.appPortalAccess(\"app_id\", {\n    featureFlags: [],\n    expiry: null,\n    readOnly: null,\n    application: null\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const appPortalAccessOut = await svix.authentication.appPortalAccess(\"app_id\", {\n    featureFlags: [],\n    expiry: null,\n    readOnly: null,\n    application: null\n});"},{"label":"Python","lang":"Python","source":"app_portal_access_out = svix.authentication.app_portal_access(\"app_id\", AppPortalAccessIn(\n    feature_flags=[],\n    expiry=None,\n    read_only=None,\n    application=None\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"app_portal_access_out = await svix.authentication.app_portal_access(\"app_id\", AppPortalAccessIn(\n    feature_flags=[],\n    expiry=None,\n    read_only=None,\n    application=None\n), options=...)"},{"label":"Go","lang":"Go","source":"appPortalAccessOut, err := svixClient.Authentication.AppPortalAccess(ctx, \"app_id\", &AppPortalAccessIn{\n    FeatureFlags: []interface{}{},\n    Expiry: nil,\n    ReadOnly: nil,\n    Application: nil,\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val appPortalAccessOut = svix.authentication.appPortalAccess(\"app_id\", AppPortalAccessIn()\n    .featureFlags(arrayOf())\n    .expiry(null)\n    .readOnly(null)\n    .application(null)\n)"},{"label":"Java","lang":"Java","source":"AppPortalAccessOut appPortalAccessOut = svix.getAuthentication().appPortalAccess(\"app_id\", new AppPortalAccessIn()\n    .featureFlags(new Object[]{})\n    .expiry(null)\n    .readOnly(null)\n    .application(null)\n)"},{"label":"Ruby","lang":"Ruby","source":"app_portal_access_out = svix.authentication.app_portal_access(\"app_id\", Svix::AppPortalAccessIn.new({\n    \"feature_flags\": [],\n    \"expiry\": nil,\n    \"read_only\": nil,\n    \"application\": nil\n}))"},{"label":"Rust","lang":"Rust","source":"let app_portal_access_out = svix.authentication().app_portal_access(\"app_id\", AppPortalAccessIn {\n    feature_flags: Some(vec![]),\n    expiry: None,\n    read_only: None,\n    application: None,\n}, None).await?;"},{"label":"C#","lang":"C#","source":"var appPortalAccessOut = await svix.Authentication.AppPortalAccessAsync(\"app_id\", new AppPortalAccessIn{\n    featureFlags: new Object[] {},\n    expiry: null,\n    readOnly: null,\n    application: null\n})"},{"label":"CLI","lang":"Shell","source":"svix authentication app-portal-access \"app_id\" '{\n    \"featureFlags\": [],\n    \"expiry\": null,\n    \"readOnly\": null,\n    \"application\": null\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/auth/app-portal-access/{app_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"featureFlags\": [],\n        \"expiry\": null,\n        \"readOnly\": null,\n        \"application\": null\n    }'"}]}},"/api/v1/auth/dashboard-access/{app_id}":{"post":{"tags":["Authentication"],"summary":"Dashboard Access","description":"DEPRECATED: Please use `app-portal-access` instead.\n\nUse this function to get magic links (and authentication codes) for connecting your users to the Consumer Application Portal.","operationId":"v1.authentication.dashboard-access","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardAccessOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"deprecated":true,"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const dashboardAccessOut = await svix.authentication.dashboardAccess(\"app_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const dashboardAccessOut = await svix.authentication.dashboardAccess(\"app_id\");"},{"label":"Python","lang":"Python","source":"dashboard_access_out = svix.authentication.dashboard_access(\"app_id\", options=...)"},{"label":"Python (Async)","lang":"Python","source":"dashboard_access_out = await svix.authentication.dashboard_access(\"app_id\", options=...)"},{"label":"Go","lang":"Go","source":"dashboardAccessOut, err := svixClient.Authentication.DashboardAccess(ctx, \"app_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val dashboardAccessOut = svix.authentication.dashboardAccess(\"app_id\")"},{"label":"Java","lang":"Java","source":"DashboardAccessOut dashboardAccessOut = svix.getAuthentication().dashboardAccess(\"app_id\")"},{"label":"Ruby","lang":"Ruby","source":"dashboard_access_out = svix.authentication.dashboard_access(\"app_id\")"},{"label":"Rust","lang":"Rust","source":"let dashboard_access_out = svix.authentication().dashboard_access(\"app_id\", None).await?;"},{"label":"C#","lang":"C#","source":"var dashboardAccessOut = await svix.Authentication.DashboardAccessAsync(\"app_id\")"},{"label":"CLI","lang":"Shell","source":"svix authentication dashboard-access \"app_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/auth/dashboard-access/{app_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/api/v1/auth/logout":{"post":{"tags":["Authentication"],"summary":"Logout","description":"Logout an app token.\n\nTrying to log out other tokens will fail.","operationId":"v1.authentication.logout","parameters":[{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.authentication.logout();"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.authentication.logout();"},{"label":"Python","lang":"Python","source":"svix.authentication.logout(options=...)"},{"label":"Python (Async)","lang":"Python","source":"await svix.authentication.logout(options=...)"},{"label":"Go","lang":"Go","source":"err := svixClient.Authentication.Logout(ctx)"},{"label":"Kotlin","lang":"Kotlin","source":"svix.authentication.logout()"},{"label":"Java","lang":"Java","source":"svix.getAuthentication().logout()"},{"label":"Ruby","lang":"Ruby","source":"svix.authentication.logout()"},{"label":"Rust","lang":"Rust","source":"svix.authentication().logout(None).await?;"},{"label":"C#","lang":"C#","source":"await svix.Authentication.LogoutAsync()"},{"label":"CLI","lang":"Shell","source":"svix authentication logout "},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/auth/logout' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/api/v1/auth/app/{app_id}/expire-all":{"post":{"tags":["Authentication"],"summary":"Expire All","description":"Expire all of the tokens associated with a specific Application","operationId":"v1.authentication.expire-all","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationTokenExpireIn"}}},"required":true},"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.authentication.expireAll(\"app_id\", {\n    expiry: 60\n});"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.authentication.expireAll(\"app_id\", {\n    expiry: 60\n});"},{"label":"Python","lang":"Python","source":"svix.authentication.expire_all(\"app_id\", ApplicationTokenExpireIn(\n    expiry=60\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"await svix.authentication.expire_all(\"app_id\", ApplicationTokenExpireIn(\n    expiry=60\n), options=...)"},{"label":"Go","lang":"Go","source":"err := svixClient.Authentication.ExpireAll(ctx, \"app_id\", &ApplicationTokenExpireIn{\n    Expiry: 60,\n})"},{"label":"Kotlin","lang":"Kotlin","source":"svix.authentication.expireAll(\"app_id\", ApplicationTokenExpireIn()\n    .expiry(60)\n)"},{"label":"Java","lang":"Java","source":"svix.getAuthentication().expireAll(\"app_id\", new ApplicationTokenExpireIn()\n    .expiry(60)\n)"},{"label":"Ruby","lang":"Ruby","source":"svix.authentication.expire_all(\"app_id\", Svix::ApplicationTokenExpireIn.new({\n    \"expiry\": 60\n}))"},{"label":"Rust","lang":"Rust","source":"svix.authentication().expire_all(\"app_id\", ApplicationTokenExpireIn {\n    expiry: Some(60),\n}, None).await?;"},{"label":"C#","lang":"C#","source":"await svix.Authentication.ExpireAllAsync(\"app_id\", new ApplicationTokenExpireIn{\n    expiry: 60\n})"},{"label":"CLI","lang":"Shell","source":"svix authentication expire-all \"app_id\" '{\n    \"expiry\": 60\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/auth/app/{app_id}/expire-all' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"expiry\": 60\n    }'"}]}},"/api/v1/app":{"get":{"tags":["Application"],"summary":"List Applications","description":"List of all the organization's applications.","operationId":"v1.application.list","parameters":[{"in":"query","name":"limit","description":"Limit the number of returned items","schema":{"description":"Limit the number of returned items","type":"integer","format":"uint64","maximum":250.0,"minimum":1.0},"style":"form"},{"in":"query","name":"iterator","description":"The iterator returned from a prior invocation","schema":{"description":"The iterator returned from a prior invocation","type":"string","example":"app_1srOrx2ZWZBpBUvZwXKQmoEYga2","nullable":true},"style":"form"},{"in":"query","name":"order","description":"The sorting order of the returned items","schema":{"description":"The sorting order of the returned items","$ref":"#/components/schemas/Ordering","nullable":true},"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_ApplicationOut_"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const listResponseApplicationOut = await svix.application.list();"},{"label":"TypeScript","lang":"JavaScript","source":"const listResponseApplicationOut = await svix.application.list();"},{"label":"Python","lang":"Python","source":"list_response_application_out = svix.application.list(options=...)"},{"label":"Python (Async)","lang":"Python","source":"list_response_application_out = await svix.application.list(options=...)"},{"label":"Go","lang":"Go","source":"listResponseApplicationOut, err := svixClient.Application.List(ctx, nil)"},{"label":"Kotlin","lang":"Kotlin","source":"val listResponseApplicationOut = svix.application.list()"},{"label":"Java","lang":"Java","source":"ListResponseApplicationOut listResponseApplicationOut = svix.getApplication().list()"},{"label":"Ruby","lang":"Ruby","source":"list_response_application_out = svix.application.list()"},{"label":"Rust","lang":"Rust","source":"let list_response_application_out = svix.application().list(None).await?;"},{"label":"C#","lang":"C#","source":"var listResponseApplicationOut = await svix.Application.ListAsync()"},{"label":"CLI","lang":"Shell","source":"svix application list "},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"post":{"tags":["Application"],"summary":"Create Application","description":"Create a new application.","operationId":"v1.application.create","parameters":[{"in":"query","name":"get_if_exists","description":"Get an existing application, or create a new one if doesn't exist. It's two separate functions in the libs.","schema":{"description":"Get an existing application, or create a new one if doesn't exist. It's two separate functions in the libs.","default":false,"type":"boolean"},"style":"form"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationIn"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationOut"}}}},"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const applicationOut = await svix.application.create({\n    name: \"My first application\",\n    rateLimit: null,\n    uid: \"unique-app-identifier\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const applicationOut = await svix.application.create({\n    name: \"My first application\",\n    rateLimit: null,\n    uid: \"unique-app-identifier\"\n});"},{"label":"Python","lang":"Python","source":"application_out = svix.application.create(ApplicationIn(\n    name=\"My first application\",\n    rate_limit=None,\n    uid=\"unique-app-identifier\"\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"application_out = await svix.application.create(ApplicationIn(\n    name=\"My first application\",\n    rate_limit=None,\n    uid=\"unique-app-identifier\"\n), options=...)"},{"label":"Go","lang":"Go","source":"applicationOut, err := svixClient.Application.Create(ctx, &ApplicationIn{\n    Name: \"My first application\",\n    RateLimit: nil,\n    Uid: \"unique-app-identifier\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val applicationOut = svix.application.create(ApplicationIn()\n    .name(\"My first application\")\n    .rateLimit(null)\n    .uid(\"unique-app-identifier\")\n)"},{"label":"Java","lang":"Java","source":"ApplicationOut applicationOut = svix.getApplication().create(new ApplicationIn()\n    .name(\"My first application\")\n    .rateLimit(null)\n    .uid(\"unique-app-identifier\")\n)"},{"label":"Ruby","lang":"Ruby","source":"application_out = svix.application.create(Svix::ApplicationIn.new({\n    \"name\": \"My first application\",\n    \"rate_limit\": nil,\n    \"uid\": \"unique-app-identifier\"\n}))"},{"label":"Rust","lang":"Rust","source":"let application_out = svix.application().create(ApplicationIn {\n    name: \"My first application\".to_string(),\n    rate_limit: None,\n    uid: Some(\"unique-app-identifier\".to_string()),\n}, None).await?;"},{"label":"C#","lang":"C#","source":"var applicationOut = await svix.Application.CreateAsync(new ApplicationIn{\n    name: \"My first application\",\n    rateLimit: null,\n    uid: \"unique-app-identifier\"\n})"},{"label":"CLI","lang":"Shell","source":"svix application create '{\n    \"name\": \"My first application\",\n    \"rateLimit\": null,\n    \"uid\": \"unique-app-identifier\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"name\": \"My first application\",\n        \"rateLimit\": null,\n        \"uid\": \"unique-app-identifier\"\n    }'"}]}},"/api/v1/app/{app_id}":{"get":{"tags":["Application"],"summary":"Get Application","description":"Get an application.","operationId":"v1.application.get","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const applicationOut = await svix.application.get(\"app_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const applicationOut = await svix.application.get(\"app_id\");"},{"label":"Python","lang":"Python","source":"application_out = svix.application.get(\"app_id\")"},{"label":"Python (Async)","lang":"Python","source":"application_out = await svix.application.get(\"app_id\")"},{"label":"Go","lang":"Go","source":"applicationOut, err := svixClient.Application.Get(ctx, \"app_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val applicationOut = svix.application.get(\"app_id\")"},{"label":"Java","lang":"Java","source":"ApplicationOut applicationOut = svix.getApplication().get(\"app_id\")"},{"label":"Ruby","lang":"Ruby","source":"application_out = svix.application.get(\"app_id\")"},{"label":"Rust","lang":"Rust","source":"let application_out = svix.application().get(\"app_id\").await?;"},{"label":"C#","lang":"C#","source":"var applicationOut = await svix.Application.GetAsync(\"app_id\")"},{"label":"CLI","lang":"Shell","source":"svix application get \"app_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"put":{"tags":["Application"],"summary":"Update Application","description":"Update an application.","operationId":"v1.application.update","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationIn"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationOut"}}}},"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const applicationOut = await svix.application.update(\"app_id\", {\n    name: \"My first application\",\n    rateLimit: null,\n    uid: \"unique-app-identifier\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const applicationOut = await svix.application.update(\"app_id\", {\n    name: \"My first application\",\n    rateLimit: null,\n    uid: \"unique-app-identifier\"\n});"},{"label":"Python","lang":"Python","source":"application_out = svix.application.update(\"app_id\", ApplicationIn(\n    name=\"My first application\",\n    rate_limit=None,\n    uid=\"unique-app-identifier\"\n))"},{"label":"Python (Async)","lang":"Python","source":"application_out = await svix.application.update(\"app_id\", ApplicationIn(\n    name=\"My first application\",\n    rate_limit=None,\n    uid=\"unique-app-identifier\"\n))"},{"label":"Go","lang":"Go","source":"applicationOut, err := svixClient.Application.Update(ctx, \"app_id\", &ApplicationIn{\n    Name: \"My first application\",\n    RateLimit: nil,\n    Uid: \"unique-app-identifier\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val applicationOut = svix.application.update(\"app_id\", ApplicationIn()\n    .name(\"My first application\")\n    .rateLimit(null)\n    .uid(\"unique-app-identifier\")\n)"},{"label":"Java","lang":"Java","source":"ApplicationOut applicationOut = svix.getApplication().update(\"app_id\", new ApplicationIn()\n    .name(\"My first application\")\n    .rateLimit(null)\n    .uid(\"unique-app-identifier\")\n)"},{"label":"Ruby","lang":"Ruby","source":"application_out = svix.application.update(\"app_id\", Svix::ApplicationIn.new({\n    \"name\": \"My first application\",\n    \"rate_limit\": nil,\n    \"uid\": \"unique-app-identifier\"\n}))"},{"label":"Rust","lang":"Rust","source":"let application_out = svix.application().update(\"app_id\", ApplicationIn {\n    name: \"My first application\".to_string(),\n    rate_limit: None,\n    uid: Some(\"unique-app-identifier\".to_string()),\n}).await?;"},{"label":"C#","lang":"C#","source":"var applicationOut = await svix.Application.UpdateAsync(\"app_id\", new ApplicationIn{\n    name: \"My first application\",\n    rateLimit: null,\n    uid: \"unique-app-identifier\"\n})"},{"label":"CLI","lang":"Shell","source":"svix application update \"app_id\" '{\n    \"name\": \"My first application\",\n    \"rateLimit\": null,\n    \"uid\": \"unique-app-identifier\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"name\": \"My first application\",\n        \"rateLimit\": null,\n        \"uid\": \"unique-app-identifier\"\n    }'"}]},"delete":{"tags":["Application"],"summary":"Delete Application","description":"Delete an application.","operationId":"v1.application.delete","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"}],"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.application.delete(\"app_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.application.delete(\"app_id\");"},{"label":"Python","lang":"Python","source":"svix.application.delete(\"app_id\")"},{"label":"Python (Async)","lang":"Python","source":"await svix.application.delete(\"app_id\")"},{"label":"Go","lang":"Go","source":"err := svixClient.Application.Delete(ctx, \"app_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"svix.application.delete(\"app_id\")"},{"label":"Java","lang":"Java","source":"svix.getApplication().delete(\"app_id\")"},{"label":"Ruby","lang":"Ruby","source":"svix.application.delete(\"app_id\")"},{"label":"Rust","lang":"Rust","source":"svix.application().delete(\"app_id\").await?;"},{"label":"C#","lang":"C#","source":"await svix.Application.DeleteAsync(\"app_id\")"},{"label":"CLI","lang":"Shell","source":"svix application delete \"app_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"patch":{"tags":["Application"],"summary":"Patch Application","description":"Partially update an application.","operationId":"v1.application.patch","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationPatch"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const applicationOut = await svix.application.patch(\"app_id\", {\n    rateLimit: null,\n    uid: \"unique-app-identifier\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const applicationOut = await svix.application.patch(\"app_id\", {\n    rateLimit: null,\n    uid: \"unique-app-identifier\"\n});"},{"label":"Python","lang":"Python","source":"application_out = svix.application.patch(\"app_id\", ApplicationPatch(\n    rate_limit=None,\n    uid=\"unique-app-identifier\"\n))"},{"label":"Python (Async)","lang":"Python","source":"application_out = await svix.application.patch(\"app_id\", ApplicationPatch(\n    rate_limit=None,\n    uid=\"unique-app-identifier\"\n))"},{"label":"Go","lang":"Go","source":"applicationOut, err := svixClient.Application.Patch(ctx, \"app_id\", &ApplicationPatch{\n    RateLimit: nil,\n    Uid: \"unique-app-identifier\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val applicationOut = svix.application.patch(\"app_id\", ApplicationPatch()\n    .rateLimit(null)\n    .uid(\"unique-app-identifier\")\n)"},{"label":"Java","lang":"Java","source":"ApplicationOut applicationOut = svix.getApplication().patch(\"app_id\", new ApplicationPatch()\n    .rateLimit(null)\n    .uid(\"unique-app-identifier\")\n)"},{"label":"Ruby","lang":"Ruby","source":"application_out = svix.application.patch(\"app_id\", Svix::ApplicationPatch.new({\n    \"rate_limit\": nil,\n    \"uid\": \"unique-app-identifier\"\n}))"},{"label":"Rust","lang":"Rust","source":"let application_out = svix.application().patch(\"app_id\", ApplicationPatch {\n    rate_limit: None,\n    uid: Some(\"unique-app-identifier\".to_string()),\n}).await?;"},{"label":"C#","lang":"C#","source":"var applicationOut = await svix.Application.PatchAsync(\"app_id\", new ApplicationPatch{\n    rateLimit: null,\n    uid: \"unique-app-identifier\"\n})"},{"label":"CLI","lang":"Shell","source":"svix application patch \"app_id\" '{\n    \"rateLimit\": null,\n    \"uid\": \"unique-app-identifier\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"rateLimit\": null,\n        \"uid\": \"unique-app-identifier\"\n    }'"}]}},"/api/v1/app/{app_id}/endpoint":{"get":{"tags":["Endpoint"],"summary":"List Endpoints","description":"List the application's endpoints.","operationId":"v1.endpoint.list","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"query","name":"limit","description":"Limit the number of returned items","schema":{"description":"Limit the number of returned items","type":"integer","format":"uint64","maximum":250.0,"minimum":1.0},"style":"form"},{"in":"query","name":"iterator","description":"The iterator returned from a prior invocation","schema":{"description":"The iterator returned from a prior invocation","type":"string","example":"ep_1srOrx2ZWZBpBUvZwXKQmoEYga2","nullable":true},"style":"form"},{"in":"query","name":"order","description":"The sorting order of the returned items","schema":{"description":"The sorting order of the returned items","$ref":"#/components/schemas/Ordering","nullable":true},"style":"form"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponse_EndpointOut_"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const listResponseEndpointOut = await svix.endpoint.list(\"app_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const listResponseEndpointOut = await svix.endpoint.list(\"app_id\");"},{"label":"Python","lang":"Python","source":"list_response_endpoint_out = svix.endpoint.list(\"app_id\", options=...)"},{"label":"Python (Async)","lang":"Python","source":"list_response_endpoint_out = await svix.endpoint.list(\"app_id\", options=...)"},{"label":"Go","lang":"Go","source":"listResponseEndpointOut, err := svixClient.Endpoint.List(ctx, \"app_id\", nil)"},{"label":"Kotlin","lang":"Kotlin","source":"val listResponseEndpointOut = svix.endpoint.list(\"app_id\")"},{"label":"Java","lang":"Java","source":"ListResponseEndpointOut listResponseEndpointOut = svix.getEndpoint().list(\"app_id\")"},{"label":"Ruby","lang":"Ruby","source":"list_response_endpoint_out = svix.endpoint.list(\"app_id\")"},{"label":"Rust","lang":"Rust","source":"let list_response_endpoint_out = svix.endpoint().list(\"app_id\", None).await?;"},{"label":"C#","lang":"C#","source":"var listResponseEndpointOut = await svix.Endpoint.ListAsync(\"app_id\")"},{"label":"CLI","lang":"Shell","source":"svix endpoint list \"app_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"post":{"tags":["Endpoint"],"summary":"Create Endpoint","description":"Create a new endpoint for the application.\n\nWhen `secret` is `null` the secret is automatically generated (recommended)","operationId":"v1.endpoint.create","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointIn"}}},"required":true},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const endpointOut = await svix.endpoint.create(\"app_id\", {\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-ep-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false,\n    filterTypes: [\"user.signup\", \"user.deleted\"],\n    channels: [\"project_123\", \"group_2\"],\n    secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const endpointOut = await svix.endpoint.create(\"app_id\", {\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-ep-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false,\n    filterTypes: [\"user.signup\", \"user.deleted\"],\n    channels: [\"project_123\", \"group_2\"],\n    secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"Python","lang":"Python","source":"endpoint_out = svix.endpoint.create(\"app_id\", EndpointIn(\n    description=\"An example endpoint name\",\n    rate_limit=None,\n    uid=\"unique-ep-identifier\",\n    url=\"https://example.com/webhook/\",\n    disabled=False,\n    filter_types=[\"user.signup\", \"user.deleted\"],\n    channels=[\"project_123\", \"group_2\"],\n    secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"endpoint_out = await svix.endpoint.create(\"app_id\", EndpointIn(\n    description=\"An example endpoint name\",\n    rate_limit=None,\n    uid=\"unique-ep-identifier\",\n    url=\"https://example.com/webhook/\",\n    disabled=False,\n    filter_types=[\"user.signup\", \"user.deleted\"],\n    channels=[\"project_123\", \"group_2\"],\n    secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n), options=...)"},{"label":"Go","lang":"Go","source":"endpointOut, err := svixClient.Endpoint.Create(ctx, \"app_id\", &EndpointIn{\n    Description: \"An example endpoint name\",\n    RateLimit: nil,\n    Uid: \"unique-ep-identifier\",\n    Url: \"https://example.com/webhook/\",\n    Disabled: false,\n    FilterTypes: []string{\"user.signup\", \"user.deleted\"},\n    Channels: []string{\"project_123\", \"group_2\"},\n    Secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val endpointOut = svix.endpoint.create(\"app_id\", EndpointIn()\n    .description(\"An example endpoint name\")\n    .rateLimit(null)\n    .uid(\"unique-ep-identifier\")\n    .url(\"https://example.com/webhook/\")\n    .disabled(false)\n    .filterTypes(arrayOf(\"user.signup\", \"user.deleted\"))\n    .channels(arrayOf(\"project_123\", \"group_2\"))\n    .secret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n)"},{"label":"Java","lang":"Java","source":"EndpointOut endpointOut = svix.getEndpoint().create(\"app_id\", new EndpointIn()\n    .description(\"An example endpoint name\")\n    .rateLimit(null)\n    .uid(\"unique-ep-identifier\")\n    .url(\"https://example.com/webhook/\")\n    .disabled(false)\n    .filterTypes(new String[]{\"user.signup\", \"user.deleted\"})\n    .channels(new String[]{\"project_123\", \"group_2\"})\n    .secret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n)"},{"label":"Ruby","lang":"Ruby","source":"endpoint_out = svix.endpoint.create(\"app_id\", Svix::EndpointIn.new({\n    \"description\": \"An example endpoint name\",\n    \"rate_limit\": nil,\n    \"uid\": \"unique-ep-identifier\",\n    \"url\": \"https://example.com/webhook/\",\n    \"disabled\": false,\n    \"filter_types\": [\"user.signup\", \"user.deleted\"],\n    \"channels\": [\"project_123\", \"group_2\"],\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}))"},{"label":"Rust","lang":"Rust","source":"let endpoint_out = svix.endpoint().create(\"app_id\", EndpointIn {\n    description: Some(\"An example endpoint name\".to_string()),\n    rate_limit: None,\n    uid: Some(\"unique-ep-identifier\".to_string()),\n    url: \"https://example.com/webhook/\".to_string(),\n    disabled: Some(false),\n    filter_types: Some(vec![\"user.signup\".to_string(), \"user.deleted\".to_string()]),\n    channels: Some(vec![\"project_123\".to_string(), \"group_2\".to_string()]),\n    secret: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n}, None).await?;"},{"label":"C#","lang":"C#","source":"var endpointOut = await svix.Endpoint.CreateAsync(\"app_id\", new EndpointIn{\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-ep-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false,\n    filterTypes: new string[] {\"user.signup\", \"user.deleted\"},\n    channels: new string[] {\"project_123\", \"group_2\"},\n    secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n})"},{"label":"CLI","lang":"Shell","source":"svix endpoint create \"app_id\" '{\n    \"description\": \"An example endpoint name\",\n    \"rateLimit\": null,\n    \"uid\": \"unique-ep-identifier\",\n    \"url\": \"https://example.com/webhook/\",\n    \"disabled\": false,\n    \"filterTypes\": [\"user.signup\", \"user.deleted\"],\n    \"channels\": [\"project_123\", \"group_2\"],\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"description\": \"An example endpoint name\",\n        \"rateLimit\": null,\n        \"uid\": \"unique-ep-identifier\",\n        \"url\": \"https://example.com/webhook/\",\n        \"disabled\": false,\n        \"filterTypes\": [\"user.signup\", \"user.deleted\"],\n        \"channels\": [\"project_123\", \"group_2\"],\n        \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n    }'"}]}},"/api/v1/app/{app_id}/endpoint/{endpoint_id}":{"get":{"tags":["Endpoint"],"summary":"Get Endpoint","description":"Get an endpoint.","operationId":"v1.endpoint.get","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const endpointOut = await svix.endpoint.get(\"app_id\", \"endpoint_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const endpointOut = await svix.endpoint.get(\"app_id\", \"endpoint_id\");"},{"label":"Python","lang":"Python","source":"endpoint_out = svix.endpoint.get(\"app_id\", \"endpoint_id\")"},{"label":"Python (Async)","lang":"Python","source":"endpoint_out = await svix.endpoint.get(\"app_id\", \"endpoint_id\")"},{"label":"Go","lang":"Go","source":"endpointOut, err := svixClient.Endpoint.Get(ctx, \"app_id\", \"endpoint_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val endpointOut = svix.endpoint.get(\"app_id\", \"endpoint_id\")"},{"label":"Java","lang":"Java","source":"EndpointOut endpointOut = svix.getEndpoint().get(\"app_id\", \"endpoint_id\")"},{"label":"Ruby","lang":"Ruby","source":"endpoint_out = svix.endpoint.get(\"app_id\", \"endpoint_id\")"},{"label":"Rust","lang":"Rust","source":"let endpoint_out = svix.endpoint().get(\"app_id\", \"endpoint_id\").await?;"},{"label":"C#","lang":"C#","source":"var endpointOut = await svix.Endpoint.GetAsync(\"app_id\", \"endpoint_id\")"},{"label":"CLI","lang":"Shell","source":"svix endpoint get \"app_id\" \"endpoint_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"put":{"tags":["Endpoint"],"summary":"Update Endpoint","description":"Update an endpoint.","operationId":"v1.endpoint.update","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointUpdate"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointOut"}}}},"201":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const endpointOut = await svix.endpoint.update(\"app_id\", \"endpoint_id\", {\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-ep-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false,\n    filterTypes: [\"user.signup\", \"user.deleted\"],\n    channels: [\"project_123\", \"group_2\"]\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const endpointOut = await svix.endpoint.update(\"app_id\", \"endpoint_id\", {\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-ep-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false,\n    filterTypes: [\"user.signup\", \"user.deleted\"],\n    channels: [\"project_123\", \"group_2\"]\n});"},{"label":"Python","lang":"Python","source":"endpoint_out = svix.endpoint.update(\"app_id\", \"endpoint_id\", EndpointUpdate(\n    description=\"An example endpoint name\",\n    rate_limit=None,\n    uid=\"unique-ep-identifier\",\n    url=\"https://example.com/webhook/\",\n    disabled=False,\n    filter_types=[\"user.signup\", \"user.deleted\"],\n    channels=[\"project_123\", \"group_2\"]\n))"},{"label":"Python (Async)","lang":"Python","source":"endpoint_out = await svix.endpoint.update(\"app_id\", \"endpoint_id\", EndpointUpdate(\n    description=\"An example endpoint name\",\n    rate_limit=None,\n    uid=\"unique-ep-identifier\",\n    url=\"https://example.com/webhook/\",\n    disabled=False,\n    filter_types=[\"user.signup\", \"user.deleted\"],\n    channels=[\"project_123\", \"group_2\"]\n))"},{"label":"Go","lang":"Go","source":"endpointOut, err := svixClient.Endpoint.Update(ctx, \"app_id\", \"endpoint_id\", &EndpointUpdate{\n    Description: \"An example endpoint name\",\n    RateLimit: nil,\n    Uid: \"unique-ep-identifier\",\n    Url: \"https://example.com/webhook/\",\n    Disabled: false,\n    FilterTypes: []string{\"user.signup\", \"user.deleted\"},\n    Channels: []string{\"project_123\", \"group_2\"},\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val endpointOut = svix.endpoint.update(\"app_id\", \"endpoint_id\", EndpointUpdate()\n    .description(\"An example endpoint name\")\n    .rateLimit(null)\n    .uid(\"unique-ep-identifier\")\n    .url(\"https://example.com/webhook/\")\n    .disabled(false)\n    .filterTypes(arrayOf(\"user.signup\", \"user.deleted\"))\n    .channels(arrayOf(\"project_123\", \"group_2\"))\n)"},{"label":"Java","lang":"Java","source":"EndpointOut endpointOut = svix.getEndpoint().update(\"app_id\", \"endpoint_id\", new EndpointUpdate()\n    .description(\"An example endpoint name\")\n    .rateLimit(null)\n    .uid(\"unique-ep-identifier\")\n    .url(\"https://example.com/webhook/\")\n    .disabled(false)\n    .filterTypes(new String[]{\"user.signup\", \"user.deleted\"})\n    .channels(new String[]{\"project_123\", \"group_2\"})\n)"},{"label":"Ruby","lang":"Ruby","source":"endpoint_out = svix.endpoint.update(\"app_id\", \"endpoint_id\", Svix::EndpointUpdate.new({\n    \"description\": \"An example endpoint name\",\n    \"rate_limit\": nil,\n    \"uid\": \"unique-ep-identifier\",\n    \"url\": \"https://example.com/webhook/\",\n    \"disabled\": false,\n    \"filter_types\": [\"user.signup\", \"user.deleted\"],\n    \"channels\": [\"project_123\", \"group_2\"]\n}))"},{"label":"Rust","lang":"Rust","source":"let endpoint_out = svix.endpoint().update(\"app_id\", \"endpoint_id\", EndpointUpdate {\n    description: Some(\"An example endpoint name\".to_string()),\n    rate_limit: None,\n    uid: Some(\"unique-ep-identifier\".to_string()),\n    url: \"https://example.com/webhook/\".to_string(),\n    disabled: Some(false),\n    filter_types: Some(vec![\"user.signup\".to_string(), \"user.deleted\".to_string()]),\n    channels: Some(vec![\"project_123\".to_string(), \"group_2\".to_string()]),\n}).await?;"},{"label":"C#","lang":"C#","source":"var endpointOut = await svix.Endpoint.UpdateAsync(\"app_id\", \"endpoint_id\", new EndpointUpdate{\n    description: \"An example endpoint name\",\n    rateLimit: null,\n    uid: \"unique-ep-identifier\",\n    url: \"https://example.com/webhook/\",\n    disabled: false,\n    filterTypes: new string[] {\"user.signup\", \"user.deleted\"},\n    channels: new string[] {\"project_123\", \"group_2\"}\n})"},{"label":"CLI","lang":"Shell","source":"svix endpoint update \"app_id\" \"endpoint_id\" '{\n    \"description\": \"An example endpoint name\",\n    \"rateLimit\": null,\n    \"uid\": \"unique-ep-identifier\",\n    \"url\": \"https://example.com/webhook/\",\n    \"disabled\": false,\n    \"filterTypes\": [\"user.signup\", \"user.deleted\"],\n    \"channels\": [\"project_123\", \"group_2\"]\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"description\": \"An example endpoint name\",\n        \"rateLimit\": null,\n        \"uid\": \"unique-ep-identifier\",\n        \"url\": \"https://example.com/webhook/\",\n        \"disabled\": false,\n        \"filterTypes\": [\"user.signup\", \"user.deleted\"],\n        \"channels\": [\"project_123\", \"group_2\"]\n    }'"}]},"delete":{"tags":["Endpoint"],"summary":"Delete Endpoint","description":"Delete an endpoint.","operationId":"v1.endpoint.delete","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"}],"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.endpoint.delete(\"app_id\", \"endpoint_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.endpoint.delete(\"app_id\", \"endpoint_id\");"},{"label":"Python","lang":"Python","source":"svix.endpoint.delete(\"app_id\", \"endpoint_id\")"},{"label":"Python (Async)","lang":"Python","source":"await svix.endpoint.delete(\"app_id\", \"endpoint_id\")"},{"label":"Go","lang":"Go","source":"err := svixClient.Endpoint.Delete(ctx, \"app_id\", \"endpoint_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"svix.endpoint.delete(\"app_id\", \"endpoint_id\")"},{"label":"Java","lang":"Java","source":"svix.getEndpoint().delete(\"app_id\", \"endpoint_id\")"},{"label":"Ruby","lang":"Ruby","source":"svix.endpoint.delete(\"app_id\", \"endpoint_id\")"},{"label":"Rust","lang":"Rust","source":"svix.endpoint().delete(\"app_id\", \"endpoint_id\").await?;"},{"label":"C#","lang":"C#","source":"await svix.Endpoint.DeleteAsync(\"app_id\", \"endpoint_id\")"},{"label":"CLI","lang":"Shell","source":"svix endpoint delete \"app_id\" \"endpoint_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'DELETE' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"patch":{"tags":["Endpoint"],"summary":"Patch Endpoint","description":"Partially update an endpoint.","operationId":"v1.endpoint.patch","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointPatch"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const endpointOut = await svix.endpoint.patch(\"app_id\", \"endpoint_id\", {\n    rateLimit: null,\n    uid: \"unique-ep-identifier\",\n    filterTypes: null,\n    channels: null,\n    secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const endpointOut = await svix.endpoint.patch(\"app_id\", \"endpoint_id\", {\n    rateLimit: null,\n    uid: \"unique-ep-identifier\",\n    filterTypes: null,\n    channels: null,\n    secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"Python","lang":"Python","source":"endpoint_out = svix.endpoint.patch(\"app_id\", \"endpoint_id\", EndpointPatch(\n    rate_limit=None,\n    uid=\"unique-ep-identifier\",\n    filter_types=None,\n    channels=None,\n    secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n))"},{"label":"Python (Async)","lang":"Python","source":"endpoint_out = await svix.endpoint.patch(\"app_id\", \"endpoint_id\", EndpointPatch(\n    rate_limit=None,\n    uid=\"unique-ep-identifier\",\n    filter_types=None,\n    channels=None,\n    secret=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n))"},{"label":"Go","lang":"Go","source":"endpointOut, err := svixClient.Endpoint.Patch(ctx, \"app_id\", \"endpoint_id\", &EndpointPatch{\n    RateLimit: nil,\n    Uid: \"unique-ep-identifier\",\n    FilterTypes: nil,\n    Channels: nil,\n    Secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val endpointOut = svix.endpoint.patch(\"app_id\", \"endpoint_id\", EndpointPatch()\n    .rateLimit(null)\n    .uid(\"unique-ep-identifier\")\n    .filterTypes(null)\n    .channels(null)\n    .secret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n)"},{"label":"Java","lang":"Java","source":"EndpointOut endpointOut = svix.getEndpoint().patch(\"app_id\", \"endpoint_id\", new EndpointPatch()\n    .rateLimit(null)\n    .uid(\"unique-ep-identifier\")\n    .filterTypes(null)\n    .channels(null)\n    .secret(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n)"},{"label":"Ruby","lang":"Ruby","source":"endpoint_out = svix.endpoint.patch(\"app_id\", \"endpoint_id\", Svix::EndpointPatch.new({\n    \"rate_limit\": nil,\n    \"uid\": \"unique-ep-identifier\",\n    \"filter_types\": nil,\n    \"channels\": nil,\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}))"},{"label":"Rust","lang":"Rust","source":"let endpoint_out = svix.endpoint().patch(\"app_id\", \"endpoint_id\", EndpointPatch {\n    rate_limit: None,\n    uid: Some(\"unique-ep-identifier\".to_string()),\n    filter_types: None,\n    channels: None,\n    secret: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n}).await?;"},{"label":"C#","lang":"C#","source":"var endpointOut = await svix.Endpoint.PatchAsync(\"app_id\", \"endpoint_id\", new EndpointPatch{\n    rateLimit: null,\n    uid: \"unique-ep-identifier\",\n    filterTypes: null,\n    channels: null,\n    secret: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n})"},{"label":"CLI","lang":"Shell","source":"svix endpoint patch \"app_id\" \"endpoint_id\" '{\n    \"rateLimit\": null,\n    \"uid\": \"unique-ep-identifier\",\n    \"filterTypes\": null,\n    \"channels\": null,\n    \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"rateLimit\": null,\n        \"uid\": \"unique-ep-identifier\",\n        \"filterTypes\": null,\n        \"channels\": null,\n        \"secret\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n    }'"}]}},"/api/v1/app/{app_id}/endpoint/{endpoint_id}/secret":{"get":{"tags":["Endpoint"],"summary":"Get Endpoint Secret","description":"Get the endpoint's signing secret.\n\nThis is used to verify the authenticity of the webhook.\nFor more information please refer to [the consuming webhooks docs](https://docs.svix.com/consuming-webhooks/).","operationId":"v1.endpoint.get-secret","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointSecretOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const endpointSecretOut = await svix.endpoint.getSecret(\"app_id\", \"endpoint_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const endpointSecretOut = await svix.endpoint.getSecret(\"app_id\", \"endpoint_id\");"},{"label":"Python","lang":"Python","source":"endpoint_secret_out = svix.endpoint.get_secret(\"app_id\", \"endpoint_id\")"},{"label":"Python (Async)","lang":"Python","source":"endpoint_secret_out = await svix.endpoint.get_secret(\"app_id\", \"endpoint_id\")"},{"label":"Go","lang":"Go","source":"endpointSecretOut, err := svixClient.Endpoint.GetSecret(ctx, \"app_id\", \"endpoint_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val endpointSecretOut = svix.endpoint.getSecret(\"app_id\", \"endpoint_id\")"},{"label":"Java","lang":"Java","source":"EndpointSecretOut endpointSecretOut = svix.getEndpoint().getSecret(\"app_id\", \"endpoint_id\")"},{"label":"Ruby","lang":"Ruby","source":"endpoint_secret_out = svix.endpoint.get_secret(\"app_id\", \"endpoint_id\")"},{"label":"Rust","lang":"Rust","source":"let endpoint_secret_out = svix.endpoint().get_secret(\"app_id\", \"endpoint_id\").await?;"},{"label":"C#","lang":"C#","source":"var endpointSecretOut = await svix.Endpoint.GetSecretAsync(\"app_id\", \"endpoint_id\")"},{"label":"CLI","lang":"Shell","source":"svix endpoint get-secret \"app_id\" \"endpoint_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/secret' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]}},"/api/v1/app/{app_id}/endpoint/{endpoint_id}/secret/rotate":{"post":{"tags":["Endpoint"],"summary":"Rotate Endpoint Secret","description":"Rotates the endpoint's signing secret.  The previous secret will be valid for the next 24 hours.","operationId":"v1.endpoint.rotate-secret","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointSecretRotateIn"}}},"required":true},"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.endpoint.rotateSecret(\"app_id\", \"endpoint_id\", {\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.endpoint.rotateSecret(\"app_id\", \"endpoint_id\", {\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n});"},{"label":"Python","lang":"Python","source":"svix.endpoint.rotate_secret(\"app_id\", \"endpoint_id\", EndpointSecretRotateIn(\n    key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"await svix.endpoint.rotate_secret(\"app_id\", \"endpoint_id\", EndpointSecretRotateIn(\n    key=\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n), options=...)"},{"label":"Go","lang":"Go","source":"err := svixClient.Endpoint.RotateSecret(ctx, \"app_id\", \"endpoint_id\", &EndpointSecretRotateIn{\n    Key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"svix.endpoint.rotateSecret(\"app_id\", \"endpoint_id\", EndpointSecretRotateIn()\n    .key(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n)"},{"label":"Java","lang":"Java","source":"svix.getEndpoint().rotateSecret(\"app_id\", \"endpoint_id\", new EndpointSecretRotateIn()\n    .key(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\")\n)"},{"label":"Ruby","lang":"Ruby","source":"svix.endpoint.rotate_secret(\"app_id\", \"endpoint_id\", Svix::EndpointSecretRotateIn.new({\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}))"},{"label":"Rust","lang":"Rust","source":"svix.endpoint().rotate_secret(\"app_id\", \"endpoint_id\", EndpointSecretRotateIn {\n    key: Some(\"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\".to_string()),\n}, None).await?;"},{"label":"C#","lang":"C#","source":"await svix.Endpoint.RotateSecretAsync(\"app_id\", \"endpoint_id\", new EndpointSecretRotateIn{\n    key: \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n})"},{"label":"CLI","lang":"Shell","source":"svix endpoint rotate-secret \"app_id\" \"endpoint_id\" '{\n    \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/secret/rotate' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"key\": \"whsec_C2FVsBQIhrscChlQIMV+b5sSYspob7oD\"\n    }'"}]}},"/api/v1/app/{app_id}/endpoint/{endpoint_id}/headers":{"get":{"tags":["Endpoint"],"summary":"Get Endpoint Headers","description":"Get the additional headers to be sent with the webhook","operationId":"v1.endpoint.get-headers","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointHeadersOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const endpointHeadersOut = await svix.endpoint.getHeaders(\"app_id\", \"endpoint_id\");"},{"label":"TypeScript","lang":"JavaScript","source":"const endpointHeadersOut = await svix.endpoint.getHeaders(\"app_id\", \"endpoint_id\");"},{"label":"Python","lang":"Python","source":"endpoint_headers_out = svix.endpoint.get_headers(\"app_id\", \"endpoint_id\")"},{"label":"Python (Async)","lang":"Python","source":"endpoint_headers_out = await svix.endpoint.get_headers(\"app_id\", \"endpoint_id\")"},{"label":"Go","lang":"Go","source":"endpointHeadersOut, err := svixClient.Endpoint.GetHeaders(ctx, \"app_id\", \"endpoint_id\")"},{"label":"Kotlin","lang":"Kotlin","source":"val endpointHeadersOut = svix.endpoint.getHeaders(\"app_id\", \"endpoint_id\")"},{"label":"Java","lang":"Java","source":"EndpointHeadersOut endpointHeadersOut = svix.getEndpoint().getHeaders(\"app_id\", \"endpoint_id\")"},{"label":"Ruby","lang":"Ruby","source":"endpoint_headers_out = svix.endpoint.get_headers(\"app_id\", \"endpoint_id\")"},{"label":"Rust","lang":"Rust","source":"let endpoint_headers_out = svix.endpoint().get_headers(\"app_id\", \"endpoint_id\").await?;"},{"label":"C#","lang":"C#","source":"var endpointHeadersOut = await svix.Endpoint.GetHeadersAsync(\"app_id\", \"endpoint_id\")"},{"label":"CLI","lang":"Shell","source":"svix endpoint get-headers \"app_id\" \"endpoint_id\""},{"label":"cURL","lang":"Shell","source":"curl -X 'GET' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json'"}]},"put":{"tags":["Endpoint"],"summary":"Update Endpoint Headers","description":"Set the additional headers to be sent with the webhook","operationId":"v1.endpoint.update-headers","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointHeadersIn"}}},"required":true},"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.endpoint.updateHeaders(\"app_id\", \"endpoint_id\", {\n    headers: {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n});"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.endpoint.updateHeaders(\"app_id\", \"endpoint_id\", {\n    headers: {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n});"},{"label":"Python","lang":"Python","source":"svix.endpoint.update_headers(\"app_id\", \"endpoint_id\", EndpointHeadersIn(\n    headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"}\n))"},{"label":"Python (Async)","lang":"Python","source":"await svix.endpoint.update_headers(\"app_id\", \"endpoint_id\", EndpointHeadersIn(\n    headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"}\n))"},{"label":"Go","lang":"Go","source":"err := svixClient.Endpoint.UpdateHeaders(ctx, \"app_id\", \"endpoint_id\", &EndpointHeadersIn{\n    Headers: map[string]interface{}{\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n})"},{"label":"Kotlin","lang":"Kotlin","source":"svix.endpoint.updateHeaders(\"app_id\", \"endpoint_id\", EndpointHeadersIn()\n    .headers(/* ... */)\n)"},{"label":"Java","lang":"Java","source":"svix.getEndpoint().updateHeaders(\"app_id\", \"endpoint_id\", new EndpointHeadersIn()\n    .headers(/* ... */)\n)"},{"label":"Ruby","lang":"Ruby","source":"svix.endpoint.update_headers(\"app_id\", \"endpoint_id\", Svix::EndpointHeadersIn.new({\n    \"headers\": {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n}))"},{"label":"Rust","lang":"Rust","source":"svix.endpoint().update_headers(\"app_id\", \"endpoint_id\", EndpointHeadersIn {\n    headers: json!({\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}),\n}).await?;"},{"label":"C#","lang":"C#","source":"await svix.Endpoint.UpdateHeadersAsync(\"app_id\", \"endpoint_id\", new EndpointHeadersIn{\n    headers: /* ... */\n})"},{"label":"CLI","lang":"Shell","source":"svix endpoint update-headers \"app_id\" \"endpoint_id\" '{\n    \"headers\": {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'PUT' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"headers\": {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n    }'"}]},"patch":{"tags":["Endpoint"],"summary":"Patch Endpoint Headers","description":"Partially set the additional headers to be sent with the webhook","operationId":"v1.endpoint.patch-headers","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointHeadersPatchIn"}}},"required":true},"responses":{"204":{"description":"no content"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"await svix.endpoint.patchHeaders(\"app_id\", \"endpoint_id\", {\n    headers: {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n});"},{"label":"TypeScript","lang":"JavaScript","source":"await svix.endpoint.patchHeaders(\"app_id\", \"endpoint_id\", {\n    headers: {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n});"},{"label":"Python","lang":"Python","source":"svix.endpoint.patch_headers(\"app_id\", \"endpoint_id\", EndpointHeadersPatchIn(\n    headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"}\n))"},{"label":"Python (Async)","lang":"Python","source":"await svix.endpoint.patch_headers(\"app_id\", \"endpoint_id\", EndpointHeadersPatchIn(\n    headers={\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"}\n))"},{"label":"Go","lang":"Go","source":"err := svixClient.Endpoint.PatchHeaders(ctx, \"app_id\", \"endpoint_id\", &EndpointHeadersPatchIn{\n    Headers: map[string]interface{}{\"X-Example\": \"123\", \"X-Foobar\": \"Bar\"},\n})"},{"label":"Kotlin","lang":"Kotlin","source":"svix.endpoint.patchHeaders(\"app_id\", \"endpoint_id\", EndpointHeadersPatchIn()\n    .headers(/* ... */)\n)"},{"label":"Java","lang":"Java","source":"svix.getEndpoint().patchHeaders(\"app_id\", \"endpoint_id\", new EndpointHeadersPatchIn()\n    .headers(/* ... */)\n)"},{"label":"Ruby","lang":"Ruby","source":"svix.endpoint.patch_headers(\"app_id\", \"endpoint_id\", Svix::EndpointHeadersPatchIn.new({\n    \"headers\": {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n}))"},{"label":"Rust","lang":"Rust","source":"svix.endpoint().patch_headers(\"app_id\", \"endpoint_id\", EndpointHeadersPatchIn {\n    headers: json!({\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}),\n}).await?;"},{"label":"C#","lang":"C#","source":"await svix.Endpoint.PatchHeadersAsync(\"app_id\", \"endpoint_id\", new EndpointHeadersPatchIn{\n    headers: /* ... */\n})"},{"label":"CLI","lang":"Shell","source":"svix endpoint patch-headers \"app_id\" \"endpoint_id\" '{\n    \"headers\": {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'PATCH' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/headers' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"headers\": {\"X-Example\":\"123\",\"X-Foobar\":\"Bar\"}\n    }'"}]}},"/api/v1/app/{app_id}/endpoint/{endpoint_id}/send-example":{"post":{"tags":["Endpoint"],"summary":"Send Event Type Example Message","description":"Send an example message for an event","operationId":"v1.endpoint.send-example","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventExampleIn"}}},"required":true},"responses":{"202":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const messageOut = await svix.endpoint.sendExample(\"app_id\", \"endpoint_id\", {\n    eventType: \"user.signup\"\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const messageOut = await svix.endpoint.sendExample(\"app_id\", \"endpoint_id\", {\n    eventType: \"user.signup\"\n});"},{"label":"Python","lang":"Python","source":"message_out = svix.endpoint.send_example(\"app_id\", \"endpoint_id\", EventExampleIn(\n    event_type=\"user.signup\"\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"message_out = await svix.endpoint.send_example(\"app_id\", \"endpoint_id\", EventExampleIn(\n    event_type=\"user.signup\"\n), options=...)"},{"label":"Go","lang":"Go","source":"messageOut, err := svixClient.Endpoint.SendExample(ctx, \"app_id\", \"endpoint_id\", &EventExampleIn{\n    EventType: \"user.signup\",\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val messageOut = svix.endpoint.sendExample(\"app_id\", \"endpoint_id\", EventExampleIn()\n    .eventType(\"user.signup\")\n)"},{"label":"Java","lang":"Java","source":"MessageOut messageOut = svix.getEndpoint().sendExample(\"app_id\", \"endpoint_id\", new EventExampleIn()\n    .eventType(\"user.signup\")\n)"},{"label":"Ruby","lang":"Ruby","source":"message_out = svix.endpoint.send_example(\"app_id\", \"endpoint_id\", Svix::EventExampleIn.new({\n    \"event_type\": \"user.signup\"\n}))"},{"label":"Rust","lang":"Rust","source":"let message_out = svix.endpoint().send_example(\"app_id\", \"endpoint_id\", EventExampleIn {\n    event_type: \"user.signup\".to_string(),\n}, None).await?;"},{"label":"C#","lang":"C#","source":"var messageOut = await svix.Endpoint.SendExampleAsync(\"app_id\", \"endpoint_id\", new EventExampleIn{\n    eventType: \"user.signup\"\n})"},{"label":"CLI","lang":"Shell","source":"svix endpoint send-example \"app_id\" \"endpoint_id\" '{\n    \"eventType\": \"user.signup\"\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/send-example' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"eventType\": \"user.signup\"\n    }'"}]}},"/api/v1/app/{app_id}/endpoint/{endpoint_id}/replay-missing":{"post":{"tags":["Endpoint"],"summary":"Replay Missing Webhooks","description":"Replays messages to the endpoint. Only messages that were created after `since` will be sent. Messages that were previously sent to the endpoint are not resent.","operationId":"v1.endpoint.replay","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"},{"in":"header","name":"idempotency-key","description":"The request's idempotency key","schema":{"type":"string"},"style":"simple"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplayIn"}}},"required":true},"responses":{"202":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplayOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}}},"security":[{"HTTPBearer":[]}],"x-codeSamples":[{"label":"JavaScript","lang":"JavaScript","source":"const replayOut = await svix.endpoint.replay(\"app_id\", \"endpoint_id\", {\n    until: null\n});"},{"label":"TypeScript","lang":"JavaScript","source":"const replayOut = await svix.endpoint.replay(\"app_id\", \"endpoint_id\", {\n    until: null\n});"},{"label":"Python","lang":"Python","source":"replay_out = svix.endpoint.replay(\"app_id\", \"endpoint_id\", ReplayIn(\n    until=None\n), options=...)"},{"label":"Python (Async)","lang":"Python","source":"replay_out = await svix.endpoint.replay(\"app_id\", \"endpoint_id\", ReplayIn(\n    until=None\n), options=...)"},{"label":"Go","lang":"Go","source":"replayOut, err := svixClient.Endpoint.Replay(ctx, \"app_id\", \"endpoint_id\", &ReplayIn{\n    Until: nil,\n})"},{"label":"Kotlin","lang":"Kotlin","source":"val replayOut = svix.endpoint.replay(\"app_id\", \"endpoint_id\", ReplayIn()\n    .until(null)\n)"},{"label":"Java","lang":"Java","source":"ReplayOut replayOut = svix.getEndpoint().replay(\"app_id\", \"endpoint_id\", new ReplayIn()\n    .until(null)\n)"},{"label":"Ruby","lang":"Ruby","source":"replay_out = svix.endpoint.replay(\"app_id\", \"endpoint_id\", Svix::ReplayIn.new({\n    \"until\": nil\n}))"},{"label":"Rust","lang":"Rust","source":"let replay_out = svix.endpoint().replay(\"app_id\", \"endpoint_id\", ReplayIn {\n    until: None,\n}, None).await?;"},{"label":"C#","lang":"C#","source":"var replayOut = await svix.Endpoint.ReplayAsync(\"app_id\", \"endpoint_id\", new ReplayIn{\n    until: null\n})"},{"label":"CLI","lang":"Shell","source":"svix endpoint replay \"app_id\" \"endpoint_id\" '{\n    \"until\": null\n}'"},{"label":"cURL","lang":"Shell","source":"curl -X 'POST' \\\n  'https://api.eu.svix.com/api/v1/app/{app_id}/endpoint/{endpoint_id}/replay-missing' \\\n  -H 'Authorization: Bearer AUTH_TOKEN' \\\n  -H 'Accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n        \"until\": null\n    }'"}]}},"/api/v1/app/{app_id}/endpoint/{endpoint_id}/transformation":{"get":{"tags":["Endpoint"],"summary":"Get Endpoint Transformation","description":"Get the transformation code associated with this endpoint","operationId":"v1.endpoint.transformation-get","parameters":[{"in":"path","name":"app_id","description":"The app's ID or UID","required":true,"schema":{"description":"The app's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-app-identifier"},"style":"simple"},{"in":"path","name":"endpoint_id","description":"The ep's ID or UID","required":true,"schema":{"description":"The ep's ID or UID","type":"string","maxLength":256,"minLength":1,"pattern":"^[a-zA-Z0-9\\-_.]+$","example":"unique-ep-identifier"},"style":"simple"}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EndpointTransformationOut"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HttpErrorOut"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/
[...]
